In [1]:
import pandas as pd
import numpy as np

In [3]:
movies = pd.read_csv('imdb-top-1000.csv')
movies.sample()

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
886,The Sound of Music,1965,172,Biography,8.0,Robert Wise,Julie Andrews,205425,163214286,63.0

In [5]:
genres = movies.groupby('Genre')
genres

In [6]:
# Applying Builtin aggregation functions on groupby object
genres.sum()

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,"3003:10 to YumaA WednesdayAguirre, der Zorn Go...",2006200720081972201019861994201020062009201920...,22196,1367.3,Zack SnyderJames MangoldNeeraj PandeyWerner He...,Gerard ButlerRussell CroweAnupam KherKlaus Kin...,72282412,32632261314,10499.0
Adventure,2001: A Space OdysseyAlmost FamousApollo 13Bac...,19682000PG198519891975195920032006201320002006...,9656,571.5,Stanley KubrickCameron CroweRon HowardRobert Z...,Keir DulleaBilly CrudupTom HanksMichael J. Fox...,22576163,9496922464,5020.0
Animation,Ôkami kodomo no Ame to YukiAkiraAladdinBatman:...,2012198819921993199120142017200920012010194020...,8166,650.3,Mamoru HosodaKatsuhiro ÔtomoRon ClementsKevin ...,Aoi MiyazakiMitsuo IwataJohn MuskerBoyd Kirkla...,21978630,14631473048,6082.0
Biography,12 Years a SlaveA Beautiful MindA Man for All ...,2013200119661976198420071966201219902017201320...,11970,698.6,Steve McQueenRon HowardFred ZinnemannAlan J. P...,Chiwetel EjioforRussell CrowePaul ScofieldDust...,24006844,8276357606,6023.0
Comedy,(500) Days of Summer3 Idiots50/50A Christmas S...,2009200920111983196419352013200520021985198020...,17380,1224.7,Marc WebbRajkumar HiraniJonathan LevineBob Cla...,Zooey DeschanelAamir KhanJoseph Gordon-LevittP...,27620327,15663868165,9840.0
Crime,12 Angry Men21 GramsA Bronx TaleA Clockwork Or...,1957200319931971196019592018200420111984200219...,13524,857.8,Sidney LumetAlejandro G. IñárrituRobert De Nir...,Henry FondaSean PennRobert De NiroMalcolm McDo...,33533615,8452631908,6706.0
Drama,"191725th Hour28 Days Later...4 luni, 3 saptamâ...",2019200220022007196319921995201819511997195120...,36049,2299.7,Sam MendesSpike LeeDanny BoyleCristian MungiuF...,Dean-Charles ChapmanEdward NortonCillian Murph...,61367304,35409974041,19208.0
Family,E.T. the Extra-TerrestrialWilly Wonka & the Ch...,19821971,215,15.6,Steven SpielbergMel Stuart,Henry ThomasGene Wilder,551221,439110554,158.0
Fantasy,Das Cabinet des Dr. CaligariNosferatu,19201922,170,16.0,Robert WieneF.W. Murnau,Werner KraussMax Schreck,146222,782726696,0.0
Film-Noir,Shadow of a DoubtThe Maltese FalconThe Third Man,194319411949,312,23.9,Alfred HitchcockJohn HustonCarol Reed,Teresa WrightHumphrey BogartOrson Welles,367215,125910543,287.0
Horror,AlienGet OutHalloweenNight of the Living DeadP...,19792017197819681960200419731961193320011982,1123,87.0,Ridley ScottJordan PeeleJohn CarpenterGeorge A...,Sigourney WeaverDaniel KaluuyaDonald Pleasence...,3742556,1034649238,880.0
Mystery,Dark CityEl cuerpoKahaaniLost HighwayMementoRe...,199820122012199720001954201019721988193819951958,1429,95.7,Alex ProyasOriol PauloSujoy GhoshDavid LynchCh...,Rufus SewellJose CoronadoVidya BalanBill Pullm...,4203004,1256417015,633.0
Thriller,Wait Until Dark,1967,108,7.8,Terence Young,Audrey Hepburn,27733,17550741,81.0
Western,"Il buono, il brutto, il cattivoOnce Upon a Tim...",1966196819651976,593,33.4,Sergio LeoneSergio LeoneSergio LeoneClint East...,Clint EastwoodHenry FondaClint EastwoodClint E...,1289665,58221508,313.0

In [9]:
# find the top 3 genres by total earnings
movies.groupby('Genre').sum()['Gross'].sort_values(ascending=False).head(3)

Genre
Drama     35409974041
Action    32632261314
Comedy    15663868165
Name: Gross, dtype: int64

In [ ]:
movies.groupby('Genre')['Gross'].sum().sort_values(ascending=False).head(3)
# this one is more efficient, because sum is applying only in one column called Gross

Genre
Drama     35409974041
Action    32632261314
Comedy    15663868165
Name: Gross, dtype: int64

In [15]:
# find the genres which have highest avg IMDB ratings
genres['IMDB_Rating'].mean().sort_values(ascending= False).head(1)

Genre
Western    8.35
Name: IMDB_Rating, dtype: float64

In [16]:
# director with the most popularity
movies.groupby('Director')['No_of_Votes'].sum().sort_values(ascending=False).head()

Director
Christopher Nolan    11578345
Quentin Tarantino     8123208
Steven Spielberg      7817166
David Fincher         6607859
Martin Scorsese       6513530
Name: No_of_Votes, dtype: int64

In [18]:
# Find the highest rated movie of each genres
movies.groupby('Genre')['IMDB_Rating'].max().sort_values(ascending=False).head()

Genre
Drama        9.3
Crime        9.2
Action       9.0
Biography    8.9
Western      8.8
Name: IMDB_Rating, dtype: float64

In [22]:
# find no of movies done by each actors
# movies['Star1'].value_counts()
movies.groupby('Star1')['Series_Title'].count().sort_values(ascending=False)

Star1
Tom Hanks               12
Robert De Niro          11
Al Pacino               10
Clint Eastwood          10
Leonardo DiCaprio        9
                        ..
Zbigniew Zamachowski     1
Zooey Deschanel          1
Çetin Tekindor           1
Éric Toledano            1
Ajay Devgn               1
Name: Series_Title, Length: 660, dtype: int64

In [23]:
# GroupBy Attributes and Methods
# find total number of groups -> len
# find items in each group -> size
# first()/last() -> nth item
# get_group -> vs filtering
# groups
# describe
# sample
# nunique

In [ ]:
# no of group  formed by using groupby on Genre
len(movies.groupby('Genre'))

14

In [25]:
movies['Genre'].nunique()

14

In [ ]:
# No of movies of each Genre
movies['Genre'].value_counts()
# movies.groupby('Genre).size()

Genre
Drama        289
Action       172
Comedy       155
Crime        107
Biography     88
Animation     82
Adventure     72
Mystery       12
Horror        11
Western        4
Film-Noir      3
Fantasy        2
Family         2
Thriller       1
Name: count, dtype: int64

In [ ]:
genres = movies.groupby('Genre')

In [ ]:
# First movie of each genres
genres.first()
# genres.nth(6)
# For getting the 7th movie of each genres index from 0

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,300,2006,117,7.6,Zack Snyder,Gerard Butler,732876,210614939,52.0
Adventure,2001: A Space Odyssey,1968,149,8.3,Stanley Kubrick,Keir Dullea,603517,56954992,84.0
Animation,Ôkami kodomo no Ame to Yuki,2012,117,8.1,Mamoru Hosoda,Aoi Miyazaki,38803,224400323,71.0
Biography,12 Years a Slave,2013,134,8.1,Steve McQueen,Chiwetel Ejiofor,640533,56671993,96.0
Comedy,(500) Days of Summer,2009,95,7.7,Marc Webb,Zooey Deschanel,472242,32391374,76.0
Crime,12 Angry Men,1957,96,9.0,Sidney Lumet,Henry Fonda,689845,4360000,96.0
Drama,1917,2019,119,8.3,Sam Mendes,Dean-Charles Chapman,425844,159227644,78.0
Family,E.T. the Extra-Terrestrial,1982,115,7.8,Steven Spielberg,Henry Thomas,372490,435110554,91.0
Fantasy,Das Cabinet des Dr. Caligari,1920,76,8.1,Robert Wiene,Werner Krauss,57428,337574718,NaN
Film-Noir,Shadow of a Doubt,1943,108,7.8,Alfred Hitchcock,Teresa Wright,59556,123353292,94.0
Horror,Alien,1979,117,8.4,Ridley Scott,Sigourney Weaver,787806,78900000,89.0
Mystery,Dark City,1998,100,7.6,Alex Proyas,Rufus Sewell,187927,14378331,66.0
Thriller,Wait Until Dark,1967,108,7.8,Terence Young,Audrey Hepburn,27733,17550741,81.0
Western,"Il buono, il brutto, il cattivo",1966,161,8.8,Sergio Leone,Clint Eastwood,688390,6100000,90.0

In [28]:
genres.last()

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,Yip Man,2008,106,8.0,Wilson Yip,Donnie Yen,211427,613703997,59.0
Adventure,Zombieland,2009,88,7.6,Ruben Fleischer,Jesse Eisenberg,520041,75590286,73.0
Animation,Zootopia,2016,108,8.0,Byron Howard,Rich Moore,434143,341268248,78.0
Biography,Zerkalo,1975,107,8.1,Andrei Tarkovsky,Margarita Terekhova,40081,177345,72.0
Comedy,Zindagi Na Milegi Dobara,2011,155,8.1,Zoya Akhtar,Hrithik Roshan,67927,3108485,80.0
Crime,Zodiac,2007,157,7.7,David Fincher,Jake Gyllenhaal,466080,33080084,78.0
Drama,Zwartboek,2006,145,7.7,Paul Verhoeven,Carice van Houten,72643,4398392,71.0
Family,Willy Wonka & the Chocolate Factory,1971,100,7.8,Mel Stuart,Gene Wilder,178731,4000000,67.0
Fantasy,Nosferatu,1922,94,7.9,F.W. Murnau,Max Schreck,88794,445151978,NaN
Film-Noir,The Third Man,1949,104,8.1,Carol Reed,Orson Welles,158731,449191,97.0
Horror,The Thing,1982,109,8.1,John Carpenter,Kurt Russell,371271,13782838,57.0
Mystery,Vertigo,1958,128,8.3,Alfred Hitchcock,James Stewart,364368,3200000,100.0
Thriller,Wait Until Dark,1967,108,7.8,Terence Young,Audrey Hepburn,27733,17550741,81.0
Western,The Outlaw Josey Wales,1976,135,7.8,Clint Eastwood,Clint Eastwood,65659,31800000,69.0

In [29]:
genres.get_group('Fantasy')

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
194,Das Cabinet des Dr. Caligari,1920,76,Fantasy,8.1,Robert Wiene,Werner Krauss,57428,337574718,NaN
567,Nosferatu,1922,94,Fantasy,7.9,F.W. Murnau,Max Schreck,88794,445151978,NaN

In [ ]:
genres.groups
# creates a dictionary of group and their index

{'Action': [0, 10, 25, 34, 38, 42, 59, 62, 65, 74, 75, 76, 80, 81, 83, 84, 89, 90, 94, 96, 116, 117, 127, 148, 149, 155, 159, 167, 189, 197, 198, 204, 205, 218, 219, 224, 225, 226, 245, 248, 250, 256, 258, 261, 262, 265, 268, 280, 283, 296, 300, 306, 310, 314, 322, 323, 331, 342, 349, 351, 357, 363, 377, 379, 388, 406, 408, 420, 421, 422, 423, 427, 431, 437, 459, 463, 481, 482, 491, 492, 494, 499, 503, 504, 509, 528, 532, 543, 558, 576, 589, 593, 604, 612, 618, 626, 628, 630, 638, 644, ...], 'Adventure': [5, 47, 66, 86, 87, 92, 105, 107, 119, 151, 156, 165, 188, 193, 201, 208, 217, 273, 281, 293, 339, 340, 341, 343, 344, 362, 380, 384, 385, 386, 396, 414, 419, 426, 449, 461, 466, 473, 485, 540, 557, 566, 571, 594, 615, 625, 708, 713, 716, 724, 745, 762, 780, 794, 795, 797, 800, 805, 806, 849, 851, 855, 863, 868, 875, 878, 891, 898, 907, 918, 921, 996], 'Animation': [26, 39, 40, 95, 98, 108, 175, 179, 180, 212, 270, 271, 278, 294, 346, 358, 360, 361, 378, 383, 389, 393, 409, 411, 416, 417, 418, 424, 429, 432, 435, 438, 452, 472, 479, 498, 507, 516, 527, 534, 538, 539, 546, 578, 579, 592, 598, 606, 633, 654, 669, 682, 687, 703, 705, 707, 710, 732, 738, 741, 811, 817, 818, 831, 833, 834, 858, 879, 922, 924, 926, 927, 928, 929, 948, 951, 962, 964, 967, 975, 983, 997], 'Biography': [4, 14, 21, 46, 49, 52, 61, 67, 77, 78, 106, 121, 124, 132, 142, 158, 162, 170, 177, 186, 192, 211, 231, 234, 249, 279, 290, 295, 308, 317, 320, 329, 330, 333, 352, 359, 370, 375, 381, 407, 450, 456, 475, 488, 501, 508, 514, 523, 537, 552, 573, 597, 601, 609, 619, 627, 634, 640, 665, 675, 683, 712, 725, 751, 754, 778, 783, 807, 810, 813, 814, 816, 821, 823, 826, 827, 832, 853, 866, 870, 885, 886, 889, 893, 908, 909, 963, 993], 'Comedy': [2, 9, 12, 16, 19, 22, 28, 31, 32, 33, 37, 48, 50, 54, 63, 69, 70, 88, 91, 93, 102, 103, 112, 118, 134, 139, 143, 150, 163, 164, 168, 172, 173, 183, 184, 200, 203, 207, 221, 222, 228, 229, 233, 237, 238, 242, 244, 257, 260, 274, 282, 305, 315, 321, 324, 336, 337, 338, 345, 348, 355, 356, 373, 390, 394, 397, 400, 415, 425, 430, 441, 446, 453, 457, 462, 467, 468, 484, 489, 496, 497, 513, 515, 517, 519, 524, 530, 535, 542, 545, 548, 550, 556, 562, 565, 574, 577, 585, 596, 605, ...], 'Crime': [3, 6, 15, 17, 27, 58, 60, 110, 111, 120, 125, 129, 131, 152, 154, 169, 176, 178, 181, 187, 202, 206, 210, 216, 232, 236, 239, 240, 241, 243, 263, 272, 292, 307, 311, 335, 347, 374, 382, 401, 439, 445, 448, 458, 474, 477, 478, 483, 487, 493, 500, 502, 505, 510, 525, 533, 555, 563, 564, 569, 572, 581, 583, 586, 591, 621, 622, 624, 632, 643, 645, 652, 658, 662, 666, 691, 695, 709, 726, 737, 739, 740, 743, 752, 773, 776, 790, 791, 792, 793, 801, 803, 820, 857, 883, 901, 902, 912, 919, 925, ...], 'Drama': [1, 7, 8, 11, 13, 18, 20, 23, 24, 29, 30, 35, 36, 43, 44, 45, 51, 53, 55, 56, 57, 64, 68, 71, 72, 73, 79, 82, 85, 97, 99, 100, 101, 104, 109, 113, 114, 115, 122, 123, 126, 128, 130, 133, 135, 136, 137, 138, 140, 141, 144, 145, 146, 147, 153, 157, 160, 161, 166, 171, 174, 182, 185, 190, 195, 196, 199, 209, 213, 214, 215, 220, 223, 227, 230, 235, 247, 251, 252, 253, 255, 259, 264, 266, 267, 269, 275, 276, 277, 284, 285, 286, 287, 288, 289, 291, 297, 298, 301, 302, ...], 'Family': [246, 977], 'Fantasy': [194, 567], 'Film-Noir': [677, 846, 897], 'Horror': [41, 299, 332, 561, 623, 661, 779, 812, 815, 861, 896], 'Mystery': [191, 254, 412, 495, 520, 635, 688, 696, 711, 824, 940, 953], 'Thriller': [961], 'Western': [368, 584, 603, 862]}