### What is Pandas?
- Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool, build on top of the Python programming language.


### Pandas Series
- A pandas Series is like a column in a table. It is a 1-D array holding data of any type.

In [1]:
import numpy as np
import pandas as pd

### Series from List

In [6]:
#String
''' Values are manually provided, but index are given automatically'''
country = ['India', 'Pakistan', 'USA', 'Neapl', 'Sri lanka']
pd.Series(country)
# It gives info about the index and values

0        India
1     Pakistan
2          USA
3        Neapl
4    Sri lanka
dtype: object

In [7]:
#integers
runs = [13,24,69,45,71]
pd.Series(runs)

0    13
1    24
2    69
3    45
4    71
dtype: int64

In [8]:
#custom index
marks = [67,57,89,100]
subject = ['maths', 'english', 'science', 'hindi']
pd.Series(marks, index = subject)

maths       67
english     57
science     89
hindi      100
dtype: int64

In [11]:
#Setting a name
marks1 = pd.Series(marks, index = subject, name = "Rahul ki file")
marks1

maths       67
english     57
science     89
hindi      100
Name: Rahul ki file, dtype: int64

### Series from dictionary

In [17]:
marks = {'maths': 67, 
        'english':57,
        'science':89,
        'hindi':100}
marks_series = pd.Series(marks, name = 'Rahul ke marks')
marks_series
#HHere name is the attribute of the marks

maths       67
english     57
science     89
hindi      100
Name: Rahul ke marks, dtype: int64

## Series attribute

In [18]:
# Size
marks_series.size

4

In [19]:
#dtype
marks_series.dtype

dtype('int64')

In [20]:
#name
marks_series.name

'Rahul ke marks'

In [23]:
#is unique 
marks_series.is_unique
pd.Series([1,1,2,3,4,5]).is_unique
#return false, beacuse 1 is repeating twice

False

In [25]:
#index
marks_series.index

Index(['maths', 'english', 'science', 'hindi'], dtype='object')

In [26]:
#values
marks_series.values

array([ 67,  57,  89, 100], dtype=int64)

### Series using read_csv

In [28]:
#with one column
type(pd.read_csv('BollywoodActorRanking.csv'))

pandas.core.frame.DataFrame

In [40]:
data = pd.read_csv('BollywoodActorRanking.csv', squeeze=True)
data

C:\Users\rahul\AppData\Local\Temp\ipykernel_15896\3008530259.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  data = pd.read_csv('BollywoodActorRanking.csv', squeeze=True)

,actorId,actorName,movieCount,ratingSum,normalizedMovieRank,googleHits,normalizedGoogleRank,normalizedRating
0,373,Aamir Khan,11,1170,9.44862,2460000,7.34283,10.00000
1,374,Shah Rukh Khan,23,2000,7.55009,2670000,7.88458,9.22674
2,375,Salman Khan,36,2340,5.40217,3490000,10.00000,9.20821
3,376,Katrina Kaif,17,1640,8.48082,2120000,6.46570,8.94852
4,377,Deepika Padukone,16,1080,5.64674,3000000,8.73591,8.62716
...,...,...,...,...,...,...,...,...
296,669,Achint Kaur,4,80,1.00000,0,NaN,1.00000
297,670,Yuvika Chaudhry,5,100,1.00000,0,NaN,1.00000
298,671,Pankaj Berry,5,100,1.00000,0,NaN,1.00000
299,672,Varun Dhawan,0,0,NaN,0,NaN,4.74000
300,673,Nargis Fakhri,0,0,NaN,0,NaN,4.80000

In [38]:
type(subs)
#here my dtpe is still dataframe, because i have multiple columns here

pandas.core.frame.DataFrame

In [39]:
''' with 2 columns'''
#subs1 = pd.read_csv('BollywoodActorRanking.csv',index_col = 'column name' squeeze=True)

' with 2 columns'

In [41]:
# head 
data.head()
#By default provide the top 5 values in your dataframe, but can be changed the value

,actorId,actorName,movieCount,ratingSum,normalizedMovieRank,googleHits,normalizedGoogleRank,normalizedRating
0,373,Aamir Khan,11,1170,9.44862,2460000,7.34283,10.00000
1,374,Shah Rukh Khan,23,2000,7.55009,2670000,7.88458,9.22674
2,375,Salman Khan,36,2340,5.40217,3490000,10.00000,9.20821
3,376,Katrina Kaif,17,1640,8.48082,2120000,6.46570,8.94852
4,377,Deepika Padukone,16,1080,5.64674,3000000,8.73591,8.62716

In [44]:
#sample
# random selection
data.sample()
# data.sample(5)

,actorId,actorName,movieCount,ratingSum,normalizedMovieRank,googleHits,normalizedGoogleRank,normalizedRating
101,474,Ayesha Takia,16,480,1.97826,570000,2.46704,2.96358

In [45]:
data

,actorId,actorName,movieCount,ratingSum,normalizedMovieRank,googleHits,normalizedGoogleRank,normalizedRating
0,373,Aamir Khan,11,1170,9.44862,2460000,7.34283,10.00000
1,374,Shah Rukh Khan,23,2000,7.55009,2670000,7.88458,9.22674
2,375,Salman Khan,36,2340,5.40217,3490000,10.00000,9.20821
3,376,Katrina Kaif,17,1640,8.48082,2120000,6.46570,8.94852
4,377,Deepika Padukone,16,1080,5.64674,3000000,8.73591,8.62716
...,...,...,...,...,...,...,...,...
296,669,Achint Kaur,4,80,1.00000,0,NaN,1.00000
297,670,Yuvika Chaudhry,5,100,1.00000,0,NaN,1.00000
298,671,Pankaj Berry,5,100,1.00000,0,NaN,1.00000
299,672,Varun Dhawan,0,0,NaN,0,NaN,4.74000
300,673,Nargis Fakhri,0,0,NaN,0,NaN,4.80000

In [53]:
# values_counts -> data
data.value_counts()

actorId  actorName       movieCount  ratingSum  normalizedMovieRank  googleHits  normalizedGoogleRank  normalizedRating
373      Aamir Khan      11          1170       9.44862              2460000     7.34283               10.00000            1
525      Mahie Gill      7           230        2.25776              111000      1.28292               2.44801             1
511      Vrajesh Hirjee  8           300        2.71196              12300       1.02830               2.56175             1
514      Arbaaz Khan     17          530        2.09335              235000      1.60282               2.53662             1
517      Udita Goswami   9           280        2.08696              229000      1.58734               2.52416             1
                                                                                                                          ..
443      Sharman Joshi   15          820        4.39130              129000      1.32936               3.69044             1
444      Boman Irani     19          880        3.57437              416000      2.06976               3.64682             1
445      Satish Shah     11          510        3.57905              385000      1.98978               3.60391             1
446      Arshad Warsi    22          1100       3.93478              217000      1.55638               3.55964             1
608      Snehal Dabi     7           140        1.00000              1330        1.00000               1.56993             1
Length: 189, dtype: int64

In [58]:
# short_values -> inplace
# data.sort_values(ascending = False).head(1).values[0]
'''Upper code will give the value of the least number'''

'Upper code will give the value of the least number'